<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>Maintaince</title>
    </head>
    <body>
        {{> header}}
<!-- helper takes argu        -->
        <p>We're GG now</p>
<!-- footer partial CARE: SPACE        -->
        {{> footer}}
    </body>
</html>